# ---------------------------------------------------------
# Nexum Commons - Example Environment Variables
# ---------------------------------------------------------

# Logging mode:
# LOCAL   → colored, human-readable logs
# DATADOG → JSON logs with Datadog APM correlation
# ELASTIC → JSON logs with Elastic APM correlation
NEXUM_LOG_MODE=LOCAL

# Logging level:
# DEBUG, INFO, WARNING, ERROR, CRITICAL
LOG_LEVEL=DEBUG
